.setting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transform: translateY(5px);
  padding-bottom: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.zoom,
.zoomTime,
.zoomMax,
.zoomScale,
.zoomTimingFunction,
.transitionTime {
  animation: slideIn 0.25s ease-in-out forwards;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
}

.container.close {
  opacity: 0;
  transform: translateY(5px);
}

input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  outline: none;
  border-bottom: none;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 124px;
}

h2 {
  margin-bottom: 1rem;
}

p {
  width: 650px;
  max-width: 95%;
  text-align: center;
}

p:first-of-type {
  margin-bottom: 1rem;
  font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes slideIn {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 680px) {
  input {
    font-size: 72px;
  }
}
