*,
html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bold";
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
}

h1 {
  font-family: "Light";
  text-transform: uppercase;
  font-size: 18px;
  display: inline;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 16px;
}

h2,
p,
span {
  font-family: "Light";
  letter-spacing: 1.25px;
}

a {
  text-decoration: none;
  letter-spacing: 3px;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  header {
    align-items: flex-start;
  }

  .settings {
    flex-direction: column-reverse;
    margin-top: -5px;
  }
}

@keyframes slideDown {
  67% {
    opacity: 0;
  }
  100% {
    transform: translateY(2rem);
    opacity: 1;
  }
}
